In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [14]:
# read in the data 
sqf = pd.read_csv("C:\\Users\\FRAGINAL\\Documents\\sqf-2020.csv")
vax = pd.read_csv("C:\\Users\\FRAGINAL\\Documents\\coverage-by-boro-demo.csv")
vax_z = pd.read_csv("C:\\Users\\FRAGINAL\\Documents\\coverage-by-modzcta-adults.csv")

In [15]:
#view the data
sqf

,STOP_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,RECORD_STATUS_CODE,ISSUING_OFFICER_RANK,ISSUING_OFFICER_COMMAND_CODE,...,STOP_LOCATION_PRECINCT,STOP_LOCATION_SECTOR_CODE,STOP_LOCATION_APARTMENT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_STREET_NAME,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_ZIP_CODE,STOP_LOCATION_PATROL_BORO_NAME,STOP_LOCATION_BORO_NAME
0,1,2020-01-01,1:12:00,2020,January,Wednesday,Based on Radio Run,APP,POM,19,...,19,C,(null),248 E 83 ST,E 83 ST,997094,222002,10028,PBMN,MANHATTAN
1,2,2020-01-01,1:11:00,2020,January,Wednesday,Based on Radio Run,APP,POM,19,...,19,C,(null),248 E 83 ST,E 83 ST,997094,222002,10028,PBMN,MANHATTAN
2,3,2020-01-01,1:11:00,2020,January,Wednesday,Based on Radio Run,APP,POM,19,...,19,C,(null),248 E 83 ST,E 83 ST,997094,222002,10028,PBMN,MANHATTAN
3,4,2020-01-01,10:18:00,2020,January,Wednesday,Based on Radio Run,APP,POM,75,...,75,D,(null),LINDEN BLVD && SHEPHERD AVE,LINDEN BLVD,1018441,181412,11208,PBBN,BROOKLYN
4,5,2020-01-01,8:45:00,2020,January,Wednesday,Based on Radio Run,APP,POM,78,...,78,B,(null),481 5 AVE,5 AVE,987763,182543,11215,PBBS,BROOKLYN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9539,9540,2020-12-31,0:20:00,2020,December,Thursday,Based on Radio Run,APP,POM,72,...,72,D,(null),375 57 ST,57 ST,979566,173464,11220,PBBS,BROOKLYN
9540,9541,2020-12-29,17:11:00,2020,December,Tuesday,Based on Radio Run,APP,CPT,78,...,71,B,(null),749 CROWN ST,CROWN ST,1002918,181721,11213,PBBS,BROOKLYN
9541,9542,2020-12-12,1:45:00,2020,December,Saturday,Based on Self Initiated,APP,POM,75,...,73,C,(null),424 MOTHER GASTON BLVD,MOTHER GASTON BLVD,1010145,182898,11212,PBBN,BROOKLYN
9542,9543,2020-12-25,15:45:00,2020,December,Friday,Based on Radio Run,APP,POM,73,...,73,A,(null),BROADWAY && HALSEY ST,BROADWAY,1007368,189362,(null),PBBN,BROOKLYN
9543,9544,2020-12-29,22:35:00,2020,December,Tuesday,Based on Self Initiated,APP,POF,73,...,77,D,(null),ROCHESTER AVE && STERLING PL,ROCHESTER AVE,1004196,183865,11213,PBBN,BROOKLYN

In [5]:
vax

,DATE,BOROUGH,AGE_GROUP,RACE_ETHNICITY,POP_DENOMINATOR,COUNT_PARTIALLY_CUMULATIVE,COUNT_FULLY_CUMULATIVE,COUNT_1PLUS_CUMULATIVE,PERC_PARTIALLY,PERC_FULLY,PERC_1PLUS
0,2022-02-03,Citywide,'13-17,Asian/NHPI,54811.75,2903,61579,64482,5.30,112.35,117.64
1,2022-02-03,Citywide,'13-17,Black,104094.26,9438,58500,67938,9.07,56.20,65.27
2,2022-02-03,Citywide,'13-17,Hispanic/Latino,155999.08,20788,117775,138563,13.33,75.50,88.82
3,2022-02-03,Citywide,'13-17,White,106587.51,4704,52610,57314,4.41,49.36,53.77
4,2022-02-03,Bronx,'13-17,Asian/NHPI,3377.16,190,2897,3087,5.63,85.78,91.41
...,...,...,...,...,...,...,...,...,...,...,...
139,2022-02-03,Queens,All ages,White,560135.00,22812,332481,355293,4.07,59.36,63.43
140,2022-02-03,Staten Island,All ages,Asian/NHPI,51177.00,3928,47222,51150,7.68,92.27,99.95
141,2022-02-03,Staten Island,All ages,Black,44681.00,3903,25518,29421,8.74,57.11,65.85
142,2022-02-03,Staten Island,All ages,Hispanic/Latino,88638.00,7751,54900,62651,8.74,61.94,70.68
143,2022-02-03,Staten Island,All ages,White,283691.00,10635,169197,179832,3.75,59.64,63.39

In [16]:
vax_z

,DATE,NEIGHBORHOOD_NAME,BOROUGH,MODZCTA,Label,AGE_GROUP,POP_DENOMINATOR,COUNT_PARTIALLY_CUMULATIVE,COUNT_FULLY_CUMULATIVE,COUNT_1PLUS_CUMULATIVE,PERC_PARTIALLY,PERC_FULLY,PERC_1PLUS
0,2022-02-03,Chelsea/NoMad/West Chelsea,Manhattan,10001,"10001, 10118",18+,25536.66,7886,30000,37886,30.88,117.48,148.36
1,2022-02-03,Chinatown/Lower East Side,Manhattan,10002,10002,18+,63973.22,7341,61101,68442,11.48,95.51,106.99
2,2022-02-03,East Village/Gramercy/Greenwich Village,Manhattan,10003,10003,18+,50398.54,6454,38420,44874,12.81,76.23,89.04
3,2022-02-03,Financial District,Manhattan,10004,10004,18+,2684.95,694,3635,4329,25.85,135.38,161.23
4,2022-02-03,Financial District,Manhattan,10005,10005,18+,8169.56,1482,7897,9379,18.14,96.66,114.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,2022-02-03,Edgemere/Far Rockaway,Queens,11691,11691,18+,48413.60,4309,31305,35614,8.90,64.66,73.56
173,2022-02-03,Arverne/Edgemere,Queens,11692,11692,18+,15519.00,1429,11151,12580,9.21,71.85,81.06
174,2022-02-03,Arverne/Broad Channel,Queens,11693,11693,18+,9767.71,635,7103,7738,6.50,72.72,79.22
175,2022-02-03,Belle Harbor-Neponsit/Rockaway Park,Queens,11694,11694,18+,16540.37,940,12400,13340,5.68,74.97,80.65
176,2022-02-03,Breezy Point,Queens,11697,11697,18+,2689.54,190,3116,3306,7.06,115.86,122.92

In [6]:
# We'll start with the NYC vaccinations data with race. Main issues: irrelevant columns, bad column names, some outliers in the PERC1_PLUS column due to vaccination numbers surpassing estimated population count.
# Will eliminate superfluous columns, rename columns, and adjust the PERC_1PLUS so that numbers don't exceed 100%.

#Step 1: keep only relevant columns
vax2 = vax[['DATE', 'BOROUGH', 'AGE_GROUP', 'RACE_ETHNICITY', 'COUNT_1PLUS_CUMULATIVE', 'PERC_1PLUS']]

In [8]:
# Step 2: adjust percentages in 1plus columns so that they don't surpass 100%
vax2['PERC_1PLUS'].mask(vax2['PERC_1PLUS'] > 100, 100, inplace=True)

C:\Users\FRAGINAL\anaconda3\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [9]:
# review to ensure only the values in PERC_1PLUS > 100% have been adjusted to avoid interference with analysis
vax2

,DATE,BOROUGH,AGE_GROUP,RACE_ETHNICITY,COUNT_1PLUS_CUMULATIVE,PERC_1PLUS
0,2022-02-03,Citywide,'13-17,Asian/NHPI,64482,100.00
1,2022-02-03,Citywide,'13-17,Black,67938,65.27
2,2022-02-03,Citywide,'13-17,Hispanic/Latino,138563,88.82
3,2022-02-03,Citywide,'13-17,White,57314,53.77
4,2022-02-03,Bronx,'13-17,Asian/NHPI,3087,91.41
...,...,...,...,...,...,...
139,2022-02-03,Queens,All ages,White,355293,63.43
140,2022-02-03,Staten Island,All ages,Asian/NHPI,51150,99.95
141,2022-02-03,Staten Island,All ages,Black,29421,65.85
142,2022-02-03,Staten Island,All ages,Hispanic/Latino,62651,70.68
143,2022-02-03,Staten Island,All ages,White,179832,63.39

In [11]:
#check for duplicates
vax2 = vax2.drop_duplicates()
vax2
# appears as though there were none

,DATE,BOROUGH,AGE_GROUP,RACE_ETHNICITY,COUNT_1PLUS_CUMULATIVE,PERC_1PLUS
0,2022-02-03,Citywide,'13-17,Asian/NHPI,64482,100.00
1,2022-02-03,Citywide,'13-17,Black,67938,65.27
2,2022-02-03,Citywide,'13-17,Hispanic/Latino,138563,88.82
3,2022-02-03,Citywide,'13-17,White,57314,53.77
4,2022-02-03,Bronx,'13-17,Asian/NHPI,3087,91.41
...,...,...,...,...,...,...
139,2022-02-03,Queens,All ages,White,355293,63.43
140,2022-02-03,Staten Island,All ages,Asian/NHPI,51150,99.95
141,2022-02-03,Staten Island,All ages,Black,29421,65.85
142,2022-02-03,Staten Island,All ages,Hispanic/Latino,62651,70.68
143,2022-02-03,Staten Island,All ages,White,179832,63.39

In [12]:
# Save clean data set to CSV file
vax2.to_csv("C:/Users/FRAGINAL/Downloads/NYC2020vaxbyRaceandBoroclean.csv")

In [17]:
# will do the same with the vaccinations data by ZIP code
vax_z2 = vax_z[['DATE', 'NEIGHBORHOOD_NAME', 'BOROUGH', 'MODZCTA', 'AGE_GROUP', 'COUNT_1PLUS_CUMULATIVE', 'PERC_1PLUS']]

In [18]:
vax_z2

,DATE,NEIGHBORHOOD_NAME,BOROUGH,MODZCTA,AGE_GROUP,COUNT_1PLUS_CUMULATIVE,PERC_1PLUS
0,2022-02-03,Chelsea/NoMad/West Chelsea,Manhattan,10001,18+,37886,148.36
1,2022-02-03,Chinatown/Lower East Side,Manhattan,10002,18+,68442,106.99
2,2022-02-03,East Village/Gramercy/Greenwich Village,Manhattan,10003,18+,44874,89.04
3,2022-02-03,Financial District,Manhattan,10004,18+,4329,161.23
4,2022-02-03,Financial District,Manhattan,10005,18+,9379,114.80
...,...,...,...,...,...,...,...
172,2022-02-03,Edgemere/Far Rockaway,Queens,11691,18+,35614,73.56
173,2022-02-03,Arverne/Edgemere,Queens,11692,18+,12580,81.06
174,2022-02-03,Arverne/Broad Channel,Queens,11693,18+,7738,79.22
175,2022-02-03,Belle Harbor-Neponsit/Rockaway Park,Queens,11694,18+,13340,80.65
176,2022-02-03,Breezy Point,Queens,11697,18+,3306,122.92

In [20]:
# rename the MODZCTA column to ZIP_CODE
vax_z2 = vax_z2.rename(columns={'MODZCTA': "ZIP_CODE"})
vax_z2

,DATE,NEIGHBORHOOD_NAME,BOROUGH,ZIP_CODE,AGE_GROUP,COUNT_1PLUS_CUMULATIVE,PERC_1PLUS
0,2022-02-03,Chelsea/NoMad/West Chelsea,Manhattan,10001,18+,37886,148.36
1,2022-02-03,Chinatown/Lower East Side,Manhattan,10002,18+,68442,106.99
2,2022-02-03,East Village/Gramercy/Greenwich Village,Manhattan,10003,18+,44874,89.04
3,2022-02-03,Financial District,Manhattan,10004,18+,4329,161.23
4,2022-02-03,Financial District,Manhattan,10005,18+,9379,114.80
...,...,...,...,...,...,...,...
172,2022-02-03,Edgemere/Far Rockaway,Queens,11691,18+,35614,73.56
173,2022-02-03,Arverne/Edgemere,Queens,11692,18+,12580,81.06
174,2022-02-03,Arverne/Broad Channel,Queens,11693,18+,7738,79.22
175,2022-02-03,Belle Harbor-Neponsit/Rockaway Park,Queens,11694,18+,13340,80.65
176,2022-02-03,Breezy Point,Queens,11697,18+,3306,122.92

In [22]:
# same as above: readjust percentages so that they don't surpass 100%
vax_z2['PERC_1PLUS'].mask(vax_z2['PERC_1PLUS'] > 100, 100, inplace=True)
vax_z2

,DATE,NEIGHBORHOOD_NAME,BOROUGH,ZIP_CODE,AGE_GROUP,COUNT_1PLUS_CUMULATIVE,PERC_1PLUS
0,2022-02-03,Chelsea/NoMad/West Chelsea,Manhattan,10001,18+,37886,100.00
1,2022-02-03,Chinatown/Lower East Side,Manhattan,10002,18+,68442,100.00
2,2022-02-03,East Village/Gramercy/Greenwich Village,Manhattan,10003,18+,44874,89.04
3,2022-02-03,Financial District,Manhattan,10004,18+,4329,100.00
4,2022-02-03,Financial District,Manhattan,10005,18+,9379,100.00
...,...,...,...,...,...,...,...
172,2022-02-03,Edgemere/Far Rockaway,Queens,11691,18+,35614,73.56
173,2022-02-03,Arverne/Edgemere,Queens,11692,18+,12580,81.06
174,2022-02-03,Arverne/Broad Channel,Queens,11693,18+,7738,79.22
175,2022-02-03,Belle Harbor-Neponsit/Rockaway Park,Queens,11694,18+,13340,80.65
176,2022-02-03,Breezy Point,Queens,11697,18+,3306,100.00

In [23]:
# check and drop duplicates
vax_z2.drop_duplicates()
#again, none present

,DATE,NEIGHBORHOOD_NAME,BOROUGH,ZIP_CODE,AGE_GROUP,COUNT_1PLUS_CUMULATIVE,PERC_1PLUS
0,2022-02-03,Chelsea/NoMad/West Chelsea,Manhattan,10001,18+,37886,100.00
1,2022-02-03,Chinatown/Lower East Side,Manhattan,10002,18+,68442,100.00
2,2022-02-03,East Village/Gramercy/Greenwich Village,Manhattan,10003,18+,44874,89.04
3,2022-02-03,Financial District,Manhattan,10004,18+,4329,100.00
4,2022-02-03,Financial District,Manhattan,10005,18+,9379,100.00
...,...,...,...,...,...,...,...
172,2022-02-03,Edgemere/Far Rockaway,Queens,11691,18+,35614,73.56
173,2022-02-03,Arverne/Edgemere,Queens,11692,18+,12580,81.06
174,2022-02-03,Arverne/Broad Channel,Queens,11693,18+,7738,79.22
175,2022-02-03,Belle Harbor-Neponsit/Rockaway Park,Queens,11694,18+,13340,80.65
176,2022-02-03,Breezy Point,Queens,11697,18+,3306,100.00

In [24]:
# now, save the data to new CSV
vax_z2.to_csv("C:/Users/FRAGINAL/Downloads/NYC2020vaxbyZIPclean.csv")

In [25]:
#finally, let's deal with the SQF data
# Step 1: Check for duplicates
sqf2 = sqf.drop_duplicates()
sqf2
#no duplicates found

,STOP_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,YEAR2,MONTH2,DAY2,STOP_WAS_INITIATED,RECORD_STATUS_CODE,ISSUING_OFFICER_RANK,ISSUING_OFFICER_COMMAND_CODE,...,STOP_LOCATION_PRECINCT,STOP_LOCATION_SECTOR_CODE,STOP_LOCATION_APARTMENT,STOP_LOCATION_FULL_ADDRESS,STOP_LOCATION_STREET_NAME,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_ZIP_CODE,STOP_LOCATION_PATROL_BORO_NAME,STOP_LOCATION_BORO_NAME
0,1,2020-01-01,1:12:00,2020,January,Wednesday,Based on Radio Run,APP,POM,19,...,19,C,(null),248 E 83 ST,E 83 ST,997094,222002,10028,PBMN,MANHATTAN
1,2,2020-01-01,1:11:00,2020,January,Wednesday,Based on Radio Run,APP,POM,19,...,19,C,(null),248 E 83 ST,E 83 ST,997094,222002,10028,PBMN,MANHATTAN
2,3,2020-01-01,1:11:00,2020,January,Wednesday,Based on Radio Run,APP,POM,19,...,19,C,(null),248 E 83 ST,E 83 ST,997094,222002,10028,PBMN,MANHATTAN
3,4,2020-01-01,10:18:00,2020,January,Wednesday,Based on Radio Run,APP,POM,75,...,75,D,(null),LINDEN BLVD && SHEPHERD AVE,LINDEN BLVD,1018441,181412,11208,PBBN,BROOKLYN
4,5,2020-01-01,8:45:00,2020,January,Wednesday,Based on Radio Run,APP,POM,78,...,78,B,(null),481 5 AVE,5 AVE,987763,182543,11215,PBBS,BROOKLYN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9539,9540,2020-12-31,0:20:00,2020,December,Thursday,Based on Radio Run,APP,POM,72,...,72,D,(null),375 57 ST,57 ST,979566,173464,11220,PBBS,BROOKLYN
9540,9541,2020-12-29,17:11:00,2020,December,Tuesday,Based on Radio Run,APP,CPT,78,...,71,B,(null),749 CROWN ST,CROWN ST,1002918,181721,11213,PBBS,BROOKLYN
9541,9542,2020-12-12,1:45:00,2020,December,Saturday,Based on Self Initiated,APP,POM,75,...,73,C,(null),424 MOTHER GASTON BLVD,MOTHER GASTON BLVD,1010145,182898,11212,PBBN,BROOKLYN
9542,9543,2020-12-25,15:45:00,2020,December,Friday,Based on Radio Run,APP,POM,73,...,73,A,(null),BROADWAY && HALSEY ST,BROADWAY,1007368,189362,(null),PBBN,BROOKLYN
9543,9544,2020-12-29,22:35:00,2020,December,Tuesday,Based on Self Initiated,APP,POF,73,...,77,D,(null),ROCHESTER AVE && STERLING PL,ROCHESTER AVE,1004196,183865,11213,PBBN,BROOKLYN

In [27]:
# Step 2: Get rid of irrelevant columns
sqf2 = sqf2[['STOP_ID','STOP_FRISK_DATE', 'STOP_FRISK_TIME', 'STOP_DURATION_MINUTES', 'OFFICER_IN_UNIFORM_FLAG', 'FRISKED_FLAG', 'SEARCHED_FLAG', 'SUSPECT_REPORTED_AGE','SUSPECT_SEX', 'SUSPECT_RACE_DESCRIPTION', 'STOP_LOCATION_X', 'STOP_LOCATION_Y', 'STOP_LOCATION_ZIP_CODE', 'STOP_LOCATION_BORO_NAME']]

In [28]:
sqf2

,STOP_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,STOP_DURATION_MINUTES,OFFICER_IN_UNIFORM_FLAG,FRISKED_FLAG,SEARCHED_FLAG,SUSPECT_REPORTED_AGE,SUSPECT_SEX,SUSPECT_RACE_DESCRIPTION,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_ZIP_CODE,STOP_LOCATION_BORO_NAME
0,1,2020-01-01,1:12:00,2,Y,Y,Y,18,MALE,BLACK,997094,222002,10028,MANHATTAN
1,2,2020-01-01,1:11:00,5,Y,Y,N,18,MALE,BLACK,997094,222002,10028,MANHATTAN
2,3,2020-01-01,1:11:00,5,Y,Y,N,17,MALE,WHITE HISPANIC,997094,222002,10028,MANHATTAN
3,4,2020-01-01,10:18:00,10,Y,Y,Y,33,MALE,BLACK,1018441,181412,11208,BROOKLYN
4,5,2020-01-01,8:45:00,15,Y,N,N,40,FEMALE,WHITE,987763,182543,11215,BROOKLYN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9539,9540,2020-12-31,0:20:00,10,Y,Y,Y,22,MALE,WHITE HISPANIC,979566,173464,11220,BROOKLYN
9540,9541,2020-12-29,17:11:00,6,Y,N,N,48,MALE,BLACK,1002918,181721,11213,BROOKLYN
9541,9542,2020-12-12,1:45:00,2,Y,Y,Y,16,MALE,BLACK,1010145,182898,11212,BROOKLYN
9542,9543,2020-12-25,15:45:00,5,Y,N,N,60,MALE,BLACK,1007368,189362,(null),BROOKLYN
9543,9544,2020-12-29,22:35:00,3,Y,Y,Y,18,MALE,BLACK,1004196,183865,11213,BROOKLYN

In [29]:
# Step 3: Drop missing values
# Note that there are several missing values in data set denoted by string '(null)'
# so we will have to drop those as well
sqf2.dropna(inplace=True)

C:\Users\FRAGINAL\anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [30]:
sqf2

,STOP_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,STOP_DURATION_MINUTES,OFFICER_IN_UNIFORM_FLAG,FRISKED_FLAG,SEARCHED_FLAG,SUSPECT_REPORTED_AGE,SUSPECT_SEX,SUSPECT_RACE_DESCRIPTION,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_ZIP_CODE,STOP_LOCATION_BORO_NAME
0,1,2020-01-01,1:12:00,2,Y,Y,Y,18,MALE,BLACK,997094,222002,10028,MANHATTAN
1,2,2020-01-01,1:11:00,5,Y,Y,N,18,MALE,BLACK,997094,222002,10028,MANHATTAN
2,3,2020-01-01,1:11:00,5,Y,Y,N,17,MALE,WHITE HISPANIC,997094,222002,10028,MANHATTAN
3,4,2020-01-01,10:18:00,10,Y,Y,Y,33,MALE,BLACK,1018441,181412,11208,BROOKLYN
4,5,2020-01-01,8:45:00,15,Y,N,N,40,FEMALE,WHITE,987763,182543,11215,BROOKLYN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9539,9540,2020-12-31,0:20:00,10,Y,Y,Y,22,MALE,WHITE HISPANIC,979566,173464,11220,BROOKLYN
9540,9541,2020-12-29,17:11:00,6,Y,N,N,48,MALE,BLACK,1002918,181721,11213,BROOKLYN
9541,9542,2020-12-12,1:45:00,2,Y,Y,Y,16,MALE,BLACK,1010145,182898,11212,BROOKLYN
9542,9543,2020-12-25,15:45:00,5,Y,N,N,60,MALE,BLACK,1007368,189362,(null),BROOKLYN
9543,9544,2020-12-29,22:35:00,3,Y,Y,Y,18,MALE,BLACK,1004196,183865,11213,BROOKLYN

In [32]:
# to find nulls, we will check which columns are str types
sqf2.dtypes

STOP_ID                      int64
STOP_FRISK_DATE             object
STOP_FRISK_TIME             object
STOP_DURATION_MINUTES        int64
OFFICER_IN_UNIFORM_FLAG     object
FRISKED_FLAG                object
SEARCHED_FLAG               object
SUSPECT_REPORTED_AGE        object
SUSPECT_SEX                 object
SUSPECT_RACE_DESCRIPTION    object
STOP_LOCATION_X              int64
STOP_LOCATION_Y              int64
STOP_LOCATION_ZIP_CODE      object
STOP_LOCATION_BORO_NAME     object
dtype: object

In [33]:
# will drop the '(null)' string from all those with the dtype object
# drop nulls
sqf2 = sqf2[sqf2['STOP_FRISK_DATE'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['STOP_FRISK_TIME'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['OFFICER_IN_UNIFORM_FLAG'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['FRISKED_FLAG'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['SEARCHED_FLAG'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['SUSPECT_REPORTED_AGE'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['SUSPECT_SEX'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['SUSPECT_RACE_DESCRIPTION'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['STOP_LOCATION_ZIP_CODE'].str.contains('(null)') == False]
sqf2 = sqf2[sqf2['STOP_LOCATION_BORO_NAME'].str.contains('(null)') == False]

C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:3: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['STOP_FRISK_DATE'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:4: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['STOP_FRISK_TIME'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['OFFICER_IN_UNIFORM_FLAG'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['FRISKED_FLAG'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:7: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['SEARCHED_FLAG'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:8: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['SUSPECT_REPORTED_AGE'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:9: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['SUSPECT_SEX'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:10: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['SUSPECT_RACE_DESCRIPTION'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:11: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['STOP_LOCATION_ZIP_CODE'].str.contains('(null)') == False]
C:\Users\FRAGINAL\AppData\Local\Temp/ipykernel_12956/571489357.py:12: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  sqf2 = sqf2[sqf2['STOP_LOCATION_BORO_NAME'].str.contains('(null)') == False]

In [34]:
sqf2

,STOP_ID,STOP_FRISK_DATE,STOP_FRISK_TIME,STOP_DURATION_MINUTES,OFFICER_IN_UNIFORM_FLAG,FRISKED_FLAG,SEARCHED_FLAG,SUSPECT_REPORTED_AGE,SUSPECT_SEX,SUSPECT_RACE_DESCRIPTION,STOP_LOCATION_X,STOP_LOCATION_Y,STOP_LOCATION_ZIP_CODE,STOP_LOCATION_BORO_NAME
0,1,2020-01-01,1:12:00,2,Y,Y,Y,18,MALE,BLACK,997094,222002,10028,MANHATTAN
1,2,2020-01-01,1:11:00,5,Y,Y,N,18,MALE,BLACK,997094,222002,10028,MANHATTAN
2,3,2020-01-01,1:11:00,5,Y,Y,N,17,MALE,WHITE HISPANIC,997094,222002,10028,MANHATTAN
3,4,2020-01-01,10:18:00,10,Y,Y,Y,33,MALE,BLACK,1018441,181412,11208,BROOKLYN
4,5,2020-01-01,8:45:00,15,Y,N,N,40,FEMALE,WHITE,987763,182543,11215,BROOKLYN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9538,9539,2020-12-31,0:20:00,10,Y,Y,Y,25,MALE,WHITE HISPANIC,979566,173464,11220,BROOKLYN
9539,9540,2020-12-31,0:20:00,10,Y,Y,Y,22,MALE,WHITE HISPANIC,979566,173464,11220,BROOKLYN
9540,9541,2020-12-29,17:11:00,6,Y,N,N,48,MALE,BLACK,1002918,181721,11213,BROOKLYN
9541,9542,2020-12-12,1:45:00,2,Y,Y,Y,16,MALE,BLACK,1010145,182898,11212,BROOKLYN
9543,9544,2020-12-29,22:35:00,3,Y,Y,Y,18,MALE,BLACK,1004196,183865,11213,BROOKLYN

In [35]:
sqf2.to_csv("C:/Users/FRAGINAL/Downloads/NYC2020sqfcleanfinal.csv")